---
layout: archive
permalink: /blog-posts/
title: "Blog posts"
author_profile: true
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts reversed %}
  {% assign post_date = post.date | date: "%Y-%m-%d" %}
  {% assign post_year = post_date | split: "-" | first %}
  {% if post_year >= "2021" %}
    <h2 id="{{ post_year | slugify }}" class="archive__subtitle">{{ post_year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
    {% include archive-single.html content=post.content %}
  {% endif %}
{% endfor %}